<div class="container mt-3">
  <h2>Add New Contact</h2>

  <form [formGroup]="myForm" (ngSubmit)="onSave()">
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" id="firstName" formControlName="firstName" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" id="lastName" formControlName="lastName" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" id="email" formControlName="email" class="form-control" required>
    </div>

    <br />

    <div class="btnAlign">
      <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">Save Changes</button>
      <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    </div>

  </form>
</div>
